body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #C9EAF9;
    font-family: monospace;
    font-size: 12px;
}

canvas {
    background: #111;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
    top: 0px;
    left: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-element {
    z-index: 10;
    position: fixed;
}

.section-title {
    font-size: 14px;
    text-decoration: underline;
}

#waypoint-list {
    top: 30px;
    left: 30px;
}

/* default-color #C9EAF9 */
/* dark-color #627279 */
/* grid-color #2E3639 */
/* highlight-color #FAC1B1 */
/* error-color #FF0000 */
/* delete-color #FF0000 */
/* source-color #ACAB69 */
/* sink-color #8869AC */
