body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #111;
    color: #C9EAF9;
    font-family: monospace;
    font-size: 12px;
}

a {
    color: #C9EAF9;
}

canvas {
    background: #111;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
    top: 0px;
    left: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-element {
    z-index: 10;
    pointer-events: auto;
}

.section {
    position: fixed;
}

.label {
    font-size: 14px;
}

.section-title {
    font-size: 14px;
    text-decoration: underline;
}

.error {
    color: #FF0000;
    font-style: bold;
}

button {
    height: 20px;
    width: 100px;
    text-align: center;
    background: transparent;
    font-family: monospace;
    font-size: 12px;
    color: #C9EAF9;
    border-radius: 3px;
    border: 1px;
    border-style: solid;
    margin: 0px 5px;
}

button:hover {
    color: #FAC1B1;
}

.highlight {
    color: #FAC1B1;
}

.menu {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header {
    background: rgba(0, 0, 0, 0.65);
    height: 20px;
    padding: 5px 10px;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 50;
}

#ui-elements {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#waypoint-list {
    top: 30px;
    left: 30px;
}

#part-list {
    bottom: 240px;
    left: 30px;
}

#plan-list {
    top: 30px;
    right: 50px;
    width: 250px;
}

#main-buttons {
    bottom: 30px;
    left: 0px;
    margin: 0px auto;
    position: absolute;
    right: 0px;
    width: 440px;
}

#lighter {
    bottom: 60px;
    left: 0px;
    margin: 0px auto;
    position: absolute;
    right: 0px;
    text-align: center;
    width: 250px;
}

#connection {
    position: absolute;
    right: 30px;
    text-align: right;
}

#time {
    position: absolute;
    right: 20px;
    bottom: 40px;
    text-align: right;
}

/* default-color #C9EAF9 */
/* dark-color #627279 */
/* grid-color #2E3639 */
/* highlight-color #FAC1B1 */
/* error-color #FF0000 */
/* delete-color #FF0000 */
/* source-color #ACAB69 */
/* sink-color #8869AC */
