body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #111;
    color: #C9EAF9;
    font-family: monospace;
    font-size: 12px;
}

a {
    color: #C9EAF9;
}

button {
    height: 20px;
    width: 100px;
    text-align: center;
    background: transparent;
    font-family: monospace;
    font-size: 12px;
    color: #C9EAF9;
    border-radius: 3px;
    border: 1px;
    border-style: solid;
    margin: 0px 5px;
}

button:hover {
    color: #FAC1B1;
}

canvas {
    background: #111;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
    top: 0px;
    left: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-element {
    z-index: 10;
    pointer-events: auto;
}

.section {
    position: fixed;
}

.label {
    font-size: 14px;
}

.section-title {
    font-size: 14px;
    text-decoration: underline;
}

.error {
    color: #FF0000;
    font-style: bold;
}

.highlight {
    color: #FAC1B1;
}

.menu {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.panel {
    background: rgba(0, 0, 0, 0.65);
    border-style: solid;
    border: 1px;
    cursor: default;
    height: 100%;
    position: absolute;
    transition: right 1s ease, left 1s ease;
    width: 400px;
    z-index: 20;
}

.panel.right {
    right: 0px;
}

.panel.right.invisible {
    right: -400px;
}

.panel.left {
    left: 0px;
}

.panel.left.invisible {
    left: -400px;
}

.tab {
    background: black;
    border: 1px solid #C9EAF9;
    border-radius: 3px;
    height: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
}

.tab.right {
    left: -20px;
    transform: rotate(-90deg) translateX(-40px) translateY(-35px);
}

.tab.left {
    right: -20px;
    transform: rotate(-90deg) translateX(-30px) translateY(35px);
}

.tab:hover {
    background: #C9EAF9;
    color: black;
}

#header {
    background: rgba(0, 0, 0, 0.65);
    height: 20px;
    padding: 5px 10px;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 50;
}

#ui-elements {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#waypoint-list {
    top: 30px;
    left: 30px;
}

#part-list {
    bottom: 240px;
    left: 30px;
}

#plan-list {
    top: 30px;
    right: 50px;
    width: 250px;
}

#main-buttons {
    bottom: 30px;
    left: 0px;
    margin: 0px auto;
    position: absolute;
    right: 0px;
    width: 440px;
}

#lighter {
    bottom: 60px;
    left: 0px;
    margin: 0px auto;
    position: absolute;
    right: 0px;
    text-align: center;
    width: 250px;
}

#connection {
    position: absolute;
    right: 30px;
    text-align: right;
}

#time {
    position: absolute;
    right: 20px;
    bottom: 40px;
    text-align: right;
}

#shutdown {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    top: 50%;
    width: 200px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
}

#panel-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
}

/* default-color #C9EAF9 */
/* dark-color #627279 */
/* grid-color #2E3639 */
/* highlight-color #FAC1B1 */
/* error-color #FF0000 */
/* delete-color #FF0000 */
/* source-color #ACAB69 */
/* sink-color #8869AC */
